# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/portrayal/career_classify/data
/portrayal/career_classify/data_category
/portrayal/career_classify/data_processed
/portrayal/career_classify/data_pruned
/portrayal/career_classify/pickle
/portrayal/career_classify/pickle_category
/portrayal/career_classify/statistics
/portrayal/interest_extract/data
/portrayal/interest_extract/pickle
/portrayal/sentiment_classify/data
/portrayal/sentiment_classify/data1
/portrayal/sentiment_classify/pickle
/portrayal/resource/tag_cloud
/portrayal/resource/users_xml
*.pyc
config.py